Repository ymtdir/ragchat-app: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 80%

ignore:
  - "backend/tests/*"
  - "frontend/src/setupTests.js"
  - "frontend/src/**/*.test.jsx"

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

docs: カバレッジバッジを追加
  README.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

fix: GitHub Actionsワークフローのトリガーパスを拡張
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
Due: none

fix: fileをfilesに変更
  .github/workflows/backend-test.yml
  .github/workflows/frontend-test.yml
Due: none

feat: PostgreSQLデータベース接続設定を追加
  backend/Dockerfile
  backend/app/config/database.py
  backend/app/config/settings.py
  backend/requirements.txt
  db/init.sql
Due: backend

feat: ユーザーモデルとスキーマ定義を追加
  backend/app/models/__init__.py
  backend/app/models/user.py
  backend/app/schemas/users.py
Due: backend

feat: ユーザー登録サービスとAPIエンドポイントを実装
  backend/app/routers/users.py
  backend/app/services/users.py
Due: backend

feat: メインアプリにユーザールートを統合
  backend/app/main.py
Due: backend

fix: get_db関数の型注釈を修正してGeneratorを返すよう変更
  backend/app/config/database.py
Due: backend

test: ユーザーAPIエンドポイントのテストコード追加
  backend/app/schemas/users.py
  backend/tests/test_users.py
Due: backend

chore: shadcn/ui導入のためfrontendディレクトリを削除
  frontend/Dockerfile
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.test.jsx
  frontend/src/index.jsx
  frontend/src/setupTests.js
  frontend/vite.config.js
Due: frontend

feat: Vite + React + TypeScript環境を構築
  frontend/.gitignore
  frontend/README.md
  frontend/components.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: frontend

feat: Docker環境での開発設定
  frontend/Dockerfile
  frontend/vite.config.ts
Due: frontend

feat: 公式のvitest設定
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/tsconfig.app.json
  frontend/vite.config.ts
  frontend/vitest.setup.ts
Due: frontend

chore: .gitignoreの設定を変更
  backend/.gitignore
  frontend/.gitignore
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/lib/utils.ts
Due: backend, frontend

chore: Node.jsのverを変更
  .github/workflows/frontend-test.yml
  frontend/package.json
Due: frontend

chore: カバレッジの設定
  codecov.yml
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: サイドバーコンポーネントの追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/hooks/use-mobile.ts
Due: frontend

feat: ダークモードの追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/mode-toggle.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/main.tsx
Due: frontend

feat: signinフォームの追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/signin-form.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/label.tsx
Due: frontend

feat: signupフォームの追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

feat: dockerignoreの追加
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
Due: frontend

feat: ユーザー登録&バックエンド連携
  frontend/src/components/signin-form.tsx
  frontend/src/components/signup-form.tsx
  frontend/vite.config.ts
Due: frontend

fix: init.sqlを削除
  backend/app/config/database.py
  db/init.sql
  docker-compose.yml
Due: backend

fix: データベース接続設定の修正と.envファイル対応
  backend/.env.example
  backend/app/config/settings.py
  docker-compose.yml
Due: backend

test: reacrtテストコードの更新
  frontend/src/components/signin-form.test.tsx
  frontend/src/components/signup-form.test.tsx
Due: frontend

refactor: Docker構成とフロントエンド設定を最適化
  backend/app/config/settings.py
  docker-compose.yml
  frontend/.dockerignore
  frontend/.env
  frontend/.env.example
  frontend/Dockerfile
  frontend/vite.config.ts
Due: backend, frontend

fix: 環境変数を利用するように修正
  backend/.env.example
  backend/app/config/logging.py
  backend/app/config/settings.py
Due: backend

feat: JWT認証機能を追加
  backend/app/main.py
  backend/app/routers/auth.py
  backend/app/schemas/auth.py
  backend/app/schemas/users.py
  backend/app/services/auth.py
  backend/requirements.txt
Due: backend

test: ユーザー認証のテストコード追加
  backend/app/routers/auth.py
  backend/tests/test_auth.py
Due: backend

feat: ルート保護用のヘルパー関数を追加
  frontend/src/utils/auth-loader.ts
Due: frontend

refactor: ルート定義をroutes/index.tsxに分離
  frontend/src/routes/index.tsx
Due: frontend
