Repository ymtdir/ragchat-app: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        target: 80%

ignore:
  - "backend/tests/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"

flags:
  backend:
    paths:
      - backend/
  frontend:
    paths:
      - frontend/

refactor: App.tsxをシンプル化し、関心の分離を実現
  frontend/src/App.tsx
Due: frontend

feat: 認証後の自動遷移機能を実装
  frontend/src/components/dashboard.tsx
  frontend/src/components/signin-form.tsx
  frontend/src/components/signup-form.tsx
  frontend/src/hooks/use-auth.ts
Due: frontend

test: 認証関連のテストを追加
  frontend/src/App.test.tsx
  frontend/src/components/dashboard.test.tsx
  frontend/src/components/signin-form.test.tsx
  frontend/src/components/signup-form.test.tsx
  frontend/src/hooks/use-auth.test.ts
  frontend/src/routes/index.test.tsx
  frontend/src/utils/auth-loader.test.ts
Due: none

fix: backendのlintエラーを修正
  backend/app/config/settings.py
  backend/app/routers/auth.py
  backend/app/schemas/auth.py
  backend/app/services/auth.py
  backend/tests/test_auth.py
Due: backend

fix: lintエラー行数を修正
  backend/app/routers/auth.py
  backend/app/schemas/auth.py
  backend/app/services/auth.py
  backend/tests/test_auth.py
Due: backend

fix: Python 3.9互換性のための型ヒント修正
  backend/app/schemas/auth.py
Due: backend

fix: 未使用のTestWrapperコンポーネントを削除
  frontend/src/components/signup-form.test.tsx
Due: none

feat: sidebarを実装
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/dashboard.tsx
  frontend/src/hooks/use-auth.ts
Due: frontend

test: サイドバーのテストコードを追加
  frontend/src/components/app-sidebar.test.tsx
  frontend/src/components/dashboard.test.tsx
  frontend/src/hooks/use-auth.test.ts
Due: none

chore: pgadminのデータを永続化
  docker-compose.yml
Due: none

feat: ユーザー全件取得APIの実装
  backend/app/routers/users.py
  backend/app/schemas/users.py
  backend/app/services/users.py
Due: backend

feat: データテーブルに必要なコンポーネントをインストール
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
Due: frontend

chore: 依存関係の追加
  frontend/package-lock.json
  frontend/package.json
Due: frontend

feat: usersページへのリンク作成
  frontend/src/components/app-sidebar.tsx
  frontend/src/routes/index.tsx
Due: frontend

feat: ユーザーテーブルと取得サービスの追加
  frontend/src/components/user-table.tsx
  frontend/src/components/users.tsx
  frontend/src/services/user-service.ts
Due: frontend

feat: usersページの表現を変更
  frontend/src/components/ui/alert.tsx
  frontend/src/components/users.tsx
Due: frontend

refactor: formのlintエラーを修正
  frontend/src/components/signin-form.tsx
  frontend/src/components/signup-form.tsx
Due: frontend

refactor: テーマ関連の処理を分離
  frontend/src/components/mode-toggle.tsx
  frontend/src/components/theme-provider.tsx
  frontend/src/components/users.tsx
  frontend/src/hooks/use-theme.ts
Due: frontend

fix: カバレッジ内のlintエラーを修正
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/user-table.tsx
  frontend/src/hooks/use-auth.test.ts
Due: frontend

test: ユーザーテーブル関連のテストコード追加
  frontend/src/components/app-sidebar.test.tsx
  frontend/src/components/theme-provider.test.tsx
  frontend/src/components/user-table.test.tsx
  frontend/src/components/user-table.tsx
  frontend/src/components/users.test.tsx
  frontend/src/hooks/use-theme.test.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/services/user-service.test.ts
Due: frontend

test: ユーザー全件取得APIのテストコード追加
  backend/app/routers/users.py
  backend/tests/test_users.py
Due: backend

fix: test_usersのlintエラー解消
  backend/tests/test_users.py
Due: none

feat: ユーザー編集モーダルのモックアップを作成
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/user-edit-modal.tsx
  frontend/src/components/user-table.tsx
  frontend/src/hooks/use-user-table.ts
  frontend/src/types/api.ts
Due: frontend

fix: 未使用のimportを削除
  frontend/src/components/user-edit-modal.tsx
Due: frontend

feat: ユーザー情報編集エンドポイントの追加
  backend/app/routers/users.py
  backend/app/schemas/users.py
  backend/app/services/users.py
  backend/tests/test_users.py
Due: backend

feat: ユーザー編集モーダルとAPI連携
  frontend/src/components/user-edit-modal.test.tsx
  frontend/src/components/user-edit-modal.tsx
  frontend/src/components/user-table.test.tsx
  frontend/src/components/user-table.tsx
  frontend/src/components/users.test.tsx
  frontend/src/components/users.tsx
Due: frontend

feat: ユーザー追加モーダルを追加し、API連携
  frontend/src/components/user-create-modal.test.tsx
  frontend/src/components/user-create-modal.tsx
  frontend/src/components/users.test.tsx
  frontend/src/components/users.tsx
Due: frontend

fix: lintエラーを修正
  frontend/src/components/user-edit-modal.tsx
  frontend/src/components/user-table.test.tsx
  frontend/src/services/user-service.test.ts
Due: frontend

feat: ユーザー削除モーダルの追加
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/user-delete-dialog.test.tsx
  frontend/src/components/user-delete-dialog.tsx
  frontend/src/components/user-table.test.tsx
  frontend/src/components/user-table.tsx
  frontend/src/components/users.tsx
Due: frontend

feat: ユーザー削除エンドポイントの追加
  backend/app/routers/users.py
  backend/app/schemas/users.py
  backend/app/services/users.py
  backend/tests/test_users.py
Due: backend

feat: ユーザー削除のAPI連携
  frontend/src/components/user-delete-dialog.test.tsx
  frontend/src/components/user-delete-dialog.tsx
  frontend/src/components/user-table.tsx
Due: frontend

feat: ユーザーの一括削除機能を追加
  frontend/src/components/user-bulk-delete-dialog.test.tsx
  frontend/src/components/user-bulk-delete-dialog.tsx
  frontend/src/components/user-table.tsx
  frontend/src/components/users.tsx
Due: frontend

fix: 未使用のimportを削除
  backend/tests/test_users.py
Due: none

fix: テスト実行時のpythonバージョンを変更
  .github/workflows/backend-test.yml
Due: none

chore: フォーマッタの導入
  backend/requirements.txt
Due: backend

feat: CIワークフローにフォーマットチェックを追加
  .github/workflows/backend-test.yml
  backend/.flake8
  backend/pyproject.toml
Due: backend

docs: 開発ワークフローを変更
  backend/README.md
Due: backend

refactor: フォーマットによる変更
  backend/app/config/settings.py
  backend/app/routers/auth.py
  backend/app/services/auth.py
  backend/tests/test_auth.py
Due: backend

chore: フォーマッタの導入
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Due: frontend

docs: 開発ワークフローを変更
  frontend/README.md
Due: frontend
