Repository ymtdir/ragchat-app: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: 自動フォーマット
  frontend/index.html
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/signin-form.tsx
  frontend/src/components/signup-form.tsx
  frontend/src/components/theme-provider.test.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/components/ui/sheet.tsx
  frontend/src/components/ui/sidebar.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/components/user-bulk-delete-dialog.test.tsx
  frontend/src/components/user-bulk-delete-dialog.tsx
  frontend/src/components/user-create-modal.tsx
  frontend/src/components/user-delete-dialog.test.tsx
  frontend/src/components/user-edit-modal.tsx
  frontend/src/components/user-table.test.tsx
  frontend/src/components/user-table.tsx
  frontend/src/components/users.test.tsx
  frontend/src/components/users.tsx
  frontend/src/hooks/use-mobile.ts
  frontend/src/hooks/use-theme.test.tsx
  frontend/src/lib/utils.ts
  frontend/src/services/user-service.test.ts
Due: frontend

docs: 全体のREADMEを修正
  README.md
Due: none

refactor: コンポーネントのディレクトリ構成を変更
  .gitignore
  frontend/src/App.test.tsx
  frontend/src/components/layout/app-sidebar.test.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/components/theme/mode-toggle.tsx
  frontend/src/components/theme/theme-provider.test.tsx
  frontend/src/components/theme/theme-provider.tsx
  frontend/src/components/user/user-bulk-delete-dialog.test.tsx
  frontend/src/components/user/user-bulk-delete-dialog.tsx
  frontend/src/components/user/user-create-modal.test.tsx
  frontend/src/components/user/user-create-modal.tsx
  frontend/src/components/user/user-delete-dialog.test.tsx
  frontend/src/components/user/user-delete-dialog.tsx
  frontend/src/components/user/user-edit-modal.test.tsx
  frontend/src/components/user/user-edit-modal.tsx
  frontend/src/components/user/user-table.test.tsx
  frontend/src/components/user/user-table.tsx
  frontend/src/main.tsx
  frontend/src/pages/dashboard.test.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/signin-form.test.tsx
  frontend/src/pages/signin-form.tsx
  frontend/src/pages/signup-form.test.tsx
  frontend/src/pages/signup-form.tsx
  frontend/src/pages/users.test.tsx
  frontend/src/pages/users.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/user-service.test.ts
  frontend/src/services/user-service.ts
Due: frontend

test: CI環境でのテストエラーを修正
  frontend/vite.config.ts
  frontend/vitest.setup.ts
Due: frontend

feat: ユーザーテーブルに作成日、更新日、論理削除フラグカラムを追加
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/4db9b4227c31_add_metadata_columns_and_soft_delete_to_.py
  backend/app/models/user.py
  backend/app/schemas/users.py
  backend/app/services/users.py
  docker-compose.yml
  frontend/src/components/user/user-delete-dialog.test.tsx
  frontend/src/services/user-service.test.ts
  frontend/src/types/api.ts
Due: backend, frontend

feat: ユーザー名およびメールアドレスのユニーク制約を削除
  backend/alembic/versions/a9e515ec096c_add_partial_unique_constraints_for_soft_.py
  backend/app/models/user.py
Due: backend

feat: コメントを訂正
  backend/app/routers/users.py
  backend/app/services/users.py
Due: backend

fix: マイグレーションファイルを削除
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/4db9b4227c31_add_metadata_columns_and_soft_delete_to_.py
  backend/alembic/versions/a9e515ec096c_add_partial_unique_constraints_for_soft_.py
Due: backend

test: バックエンドのテストコードを変更
  backend/app/models/user.py
  backend/app/schemas/users.py
  backend/app/services/users.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_users.py
Due: backend

feat: フロントのテストを更新
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/components/user/user-bulk-delete-dialog.test.tsx
  frontend/src/components/user/user-create-modal.test.tsx
  frontend/src/components/user/user-create-modal.tsx
  frontend/src/components/user/user-delete-dialog.test.tsx
  frontend/src/components/user/user-edit-modal.test.tsx
  frontend/src/components/user/user-edit-modal.tsx
  frontend/src/components/user/user-table.test.tsx
  frontend/src/pages/users.test.tsx
  frontend/src/types/api.ts
  frontend/vitest.setup.ts
Due: frontend

feat: マイグレーションを実行
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/f44efe8b8507_add_groups_table.py
Due: backend

feat: グループのCRUD APIを追加
  backend/app/main.py
  backend/app/models/group.py
  backend/app/routers/groups.py
  backend/app/schemas/groups.py
  backend/app/services/groups.py
Due: backend

test: グループのAPIテストと自動フォーマット
  backend/app/models/group.py
  backend/app/routers/groups.py
  backend/tests/test_groups.py
Due: backend

feat: グループ一覧ページの実装
  frontend/src/components/group/group-bulk-delete-dialog.test.tsx
  frontend/src/components/group/group-bulk-delete-dialog.tsx
  frontend/src/components/group/group-create-modal.test.tsx
  frontend/src/components/group/group-create-modal.tsx
  frontend/src/components/group/group-delete-dialog.test.tsx
  frontend/src/components/group/group-delete-dialog.tsx
  frontend/src/components/group/group-edit-modal.test.tsx
  frontend/src/components/group/group-edit-modal.tsx
  frontend/src/components/group/group-table.test.tsx
  frontend/src/components/group/group-table.tsx
  frontend/src/components/layout/app-sidebar.tsx
  frontend/src/hooks/use-group-table.ts
  frontend/src/pages/groups.test.tsx
  frontend/src/pages/groups.tsx
  frontend/src/routes/index.test.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/group-service.test.ts
  frontend/src/services/group-service.ts
  frontend/src/types/api.ts
Due: frontend

docs: ドキュメントの更新
  README.md
  backend/README.md
  frontend/README.md
Due: backend, frontend

feat: メンバーシップテーブルに関するマイグレーション
  backend/alembic/versions/01e01aac9dad_update_relationship_backref_naming_.py
  backend/alembic/versions/1154c9aa5f16_update_user_backref_to_group_.py
  backend/alembic/versions/7e123e95168b_rename_group_memberships_to_memberships.py
  backend/alembic/versions/ada3e804a8d7_fix_relationship_backref_naming_.py
  backend/alembic/versions/b6db28bfaa24_add_group_memberships_table.py
Due: backend

feat: メンバーシップAPIの追加
  backend/app/main.py
  backend/app/models/membership.py
  backend/app/routers/memberships.py
  backend/app/schemas/memberships.py
  backend/app/services/memberships.py
Due: backend

test: メンバーシップテストの追加
  backend/tests/conftest.py
  backend/tests/test_memberships.py
Due: none

test: 自動フォーマットとリントエラーの修正
  backend/app/models/membership.py
  backend/app/routers/memberships.py
  backend/app/schemas/memberships.py
  backend/app/services/memberships.py
  backend/tests/conftest.py
  backend/tests/test_memberships.py
Due: backend

fix: フォーマットの修正
  backend/tests/conftest.py
Due: none

fix: ci時のDBにSQLiteを使用
  backend/tests/conftest.py
Due: none

docs: カバレッジの実行方法を記載
  backend/README.md
Due: backend

fix: テストのdb使用を修正
  backend/tests/conftest.py
Due: none

test: メンバーシップのテスト修正
  backend/tests/conftest.py
  backend/tests/test_memberships.py
Due: none

test: 不足しているテストの追加
  backend/app/routers/memberships.py
  backend/tests/test_auth.py
  backend/tests/test_database.py
  backend/tests/test_documents.py
  backend/tests/test_memberships.py
  backend/tests/test_models.py
Due: backend

test: サービス層のテスト追加
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_group_service.py
  backend/tests/test_membership_service.py
  backend/tests/test_user_service.py
  backend/tests/test_users.py
Due: none

test: テストケースの追加
  backend/tests/test_group_service.py
  backend/tests/test_user_service.py
Due: none

fix: 自動フォーマット
  backend/tests/test_users.py
Due: none

fix: リントエラーを手動で修正
  backend/.flake8
  backend/app/services/documents.py
  backend/tests/test_database.py
  backend/tests/test_group_service.py
  backend/tests/test_membership_service.py
  backend/tests/test_memberships.py
  backend/tests/test_models.py
  backend/tests/test_user_service.py
  backend/tests/test_users.py
Due: backend

test: テスト時にSQliteを使用
  backend/tests/conftest.py
Due: none

test: GithubActionsの設定変更
  .github/workflows/backend-test.yml
  backend/pyproject.toml
Due: backend

feat: グループ一覧ページに、メンバー管理機能を追加
  backend/app/services/memberships.py
  frontend/src/components/group/group-member-count.tsx
  frontend/src/components/group/group-member-management-modal.tsx
  frontend/src/components/group/group-table.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/pages/groups.tsx
  frontend/src/services/membership-service.ts
  frontend/src/types/api.ts
Due: backend, frontend

test: テストの追加と自動フォーマット
  frontend/src/components/group/group-member-count.test.tsx
  frontend/src/components/group/group-member-count.tsx
  frontend/src/components/group/group-member-management-modal.test.tsx
  frontend/src/components/group/group-member-management-modal.tsx
  frontend/src/components/group/group-table.test.tsx
  frontend/src/components/group/group-table.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/pages/groups.tsx
  frontend/src/services/membership-service.test.ts
  frontend/src/services/membership-service.ts
Due: frontend

test: バックエンドのフォーマット
  backend/app/services/memberships.py
Due: backend

chore: githubのMCP設定を追加
  .mcp.json
Due: none

Path conditions:
  backend: any of: backend/, but not: backend/tests/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx
  frontend: any of: frontend/, but not: backend/tests/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx
